* {
  box-sizing: border-box;
  margin: 0;
  background-color: #4e5c5c;
}

.container {
  max-width: 1200px;
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container .movies {
  color: gainsboro;
  margin-top: 10%;
  width: calc 10%;
  font-size: 14px;
  text-align: center;
}

.container .movies img {
  width: 200px;
  height: 220px;
}

